<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{ website_title }}</title>
</head>

<body>

    <h1>{{ website_title }}</h1>
    <p>
        You made it, {{ programmer_name }}!
    </p>

</body>

</html>
